@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
body,
html {
  background-color: #f2f2f2;
  font-family: "Raleway", sans-serif;
}
p,
h1 {
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
*,
::after,
::before {
  box-sizing: initial !important;
}
.btn-primary {
  background-color: #00b5fd;
  border: none;
}
.btn-primary:hover {
  background-color: #0095cf;
  border: none;
}
.btn-danger {
  background-color: #f64f59;
  color: #ffffff;
}
